- name: Create fonts directory
  file:
    path: "/usr/local/share/fonts/{{ item }}"
    state: directory
  loop: "{{ nerd_fonts }}"
  
# TODO: Kiểm tra nếu font đã tồn tại thì không download và unzip lại
- name: Download Nerd Fonts
  get_url:
    url: "{{ nerd_fonts_base_url }}/{{ item }}.zip"
    dest: "/tmp/{{ item }}.zip"
  loop: "{{ nerd_fonts }}"


- name: Unzip Nerd Fonts
  unarchive:
    src: "/tmp/{{ item }}.zip"
    dest: "/usr/local/share/fonts/{{ item }}"
    remote_src: yes
  loop: "{{ nerd_fonts }}"


- name: Refresh font cache
  command: fc-cache -fv
