- name: Clone dotfiles
  become_user: "{{ item.name }}"
  git:
    repo: "{{ dotfile_repo }}"
    dest: "{{ item.home }}/dotfile"
    version: main
    force: yes
  loop: "{{ users }}"


- name: Remove existing .zshrc if exists (force overwrite)
  ansible.builtin.file:
    path: "{{ item.home }}/.zshrc"
    state: absent
  loop: "{{ users }}"


- name: Create symlinks with stow
  become_user: "{{ item.0.name }}"
  command: >
    stow -d {{ item.0.home }}/dotfile
         -t {{ item.0.home }}
         {{ item.1 }}
  register: stow_result
  changed_when: stow_result.stdout != ""
  loop: "{{ users | subelements('stow') }}"